//* class ================================================================== */

// set | pipe
.set-pipe(@color: #d2d2d2, @width: 1px, @height: 10px) {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: 0 - ((@height/2));
        left: 0;
        width: 1px;
        height: @height;
        background-color: @color;
    }
}
//* less ================================================================== */

.hr,
hr {
    .clearfix();
    margin: 30px 0;
    .wrap {
        position: relative;
        overflow: hidden;
        height: 1px;
        &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: #eaeaea;
        }
    }
    @media @desktop {
        margin: 60px 0;
    }
}

// 더 보기
.section-more {
    .clearfix();
    margin: 30px 0;
    .wrap {
        text-align: center;
    }

}

// image holder replacement
.img-holder {
    background-size: 100% auto;
    background-size: cover;
    background-position: center center;
}
