//* class ================================================================== */

// set | pipe
.set-pipe(@color: #d2d2d2, @width: 1px, @height: 10px) {
    position: relative;
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        margin-top: 0 - ((@height/2));
        left: 0;
        width: 1px;
        height: @height;
        background-color: @color;
    }
}
//* less ================================================================== */

.hr,
hr {
    .clearfix();
    margin: 30px 0;
    .wrap {
        position: relative;
        overflow: hidden;
        height: 1px;
        &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background-color: #eaeaea;
        }
    }
    @media @desktop {
        margin: 60px 0;
    }
}

// toggle
.toggle-wrap {
    .toggle {
        display: none;
        &.in {
            display: block;
        }
    }
}

// message
.messages {
    line-height: 1.2;
    border-radius: 3px;
    .holder {
        padding: 20px 35px;
    }
    p {
        margin: 0;
        padding: 0;
        &.subject {
            font-size: 30px;
        }
        &.description {
            margin-top: 10px;
            font-size: 16px;
        }
    }
    &.primary {
        background-color: @primary;
        color: #fff;
    }
}

.order-list {
    table.is-row-large {
        tbody {
            tr:first-child td {
                border-color: #000;
            }
        }
        tfoot {
            td {
                border-color: #000;
            }
        }
        td {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        thead td {
            padding-top: 21px;
            padding-bottom: 21px;
        }
        tfoot td {
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
    label {
        color: #adb5bd;
    }
    .button {
        min-width: 61px;
    }
    .ranges {
        width: 104px;
    }
    .canceled {
        color: #495057;
        text-decoration: line-through;
        opacity: .5;
    }
}
