.js-slider {
	.slider-wrap {
		position: relative;
		height: 100%;
		z-index: 2;
	}
	.slider-item {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		transition:
			visibility 0s @base-easing .3s,
			z-index 0s @base-easing .3s,
			opacity .3s @base-easing 0s,
			transform .3s @base-easing 0s;
		&.in {
			visibility: visible;
			z-index: 3;
			opacity: 1;
			transition:
				visibility 0s @base-easing 0s,
				z-index 0s @base-easing 0s,
				opacity .3s @base-easing 0s,
				transform .3s @base-easing 0s;
		}
	}
	.slider-pager {
		position: absolute;
		z-index: 10;
		&.is-bottom {
			bottom: 0;
		}
	}
}
