//* class ================================================================= */
.set-icon(){
    min-width: 18px;
    min-height: 18px; // 행 정렬 이슈로 최소 높이는 18px 로 제한합니다.
    display: inline-block;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    line-height: 1;
    vertical-align: middle;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    em {
        &:extend(.sr-only);
        width: 0 !important;
    }
    &.has-hover {
        opacity: .9;
        a:hover & {
            opacity: 1;
        }
    }
}
.set-fonti(@char: '\e407'){
    &:after {
        display: block;
        content: @char;
    }
}
//* less ================================================================= */
i em {
    &:extend(.sr-only);
}
.icon {
    .set-icon();
}
