.js-spinner {
    position: relative;
    display: inline-block;
    a {
        position: absolute;
        display: block;
        right: 0;
        width: 30px;
        box-sizing: border-box;
        border: solid 1px #ccc;
        background-color: #f5f5f5;
        &.js-spinner-up {
            top: 0;
            bottom: 50%;
            margin-bottom: -1px;
            .img('common/spinner_up');
        }
        &.js-spinner-down {
            top: 50%;
            bottom: 0;
            .img('common/spinner_down');
        }
    }
}

.md-modal {
    position: absolute;
    display: table;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    label.css-checkbox {
        line-height: 1.2;
    }
    .holder {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
    }
    .container {
        position: relative;
        margin: 40px auto;
        display: inline-block;
        border: solid 1px #adb5bd;
        border-radius: 18px;
        background: #fff;
    }
    .wrap {
        margin: 70px;
        width: auto;
        min-width: 340px;
    }
    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 30px;
        margin-right: 30px;
        .icon {
            .set-icon(30px, 30px, 'common/modal_close');
        }
    }
    &.is-cancel-class,
    &.is-extend-class,
    &.is-coupon,
    &.is-login {
        position: fixed;
    }
}

.md-modal {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
    // transform: translate(-50%, -49%);
    transition:
        opacity .4s @base-easing 0s,
        transform .4s @base-easing 0s,
        visibility 0s @base-easing .4s,
        z-index 0s @base-easing .4s;
}
.is-modal.is-extend-class .md-modal.is-extend-class,
.is-modal.is-cancel-class .md-modal.is-cancel-class,
.is-modal.is-coupon .md-modal.is-coupon,
.is-modal.is-login .md-modal.is-login,
.is-modal.is-find-id .md-modal.is-find-id,
.is-modal.is-join-ok .md-modal.is-join-ok {
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    // transform: translate(-50%, -50%);
    transition:
        opacity .4s @base-easing 0s,
        transform .4s @base-easing 0s,
        visibility 0s @base-easing 0s,
        z-index 0s @base-easing 0s;
}

.modal-tab-wrap {
    display: table;
    width: 100%;
    ul {
        display: table-row;
        width: 100%;
    }
    a {
        position: relative;
        display: block;
        box-sizing: content-box;
        padding: 0 10px;
        height: 53px;
        line-height: 53px;
        border-bottom: solid 2px #e1e4e6;
        background: #fff;
        font-size: 15px;
        strong {
            color: #4d5256;
            .bold();
        }
        em {
            font-size: 12px;
            .light();
        }
        .badge {
            display: inline-block;
            vertical-align: middle;
            padding: 0 5px;
            height: 18px;
            line-height: 16px;
            border-radius: 18px;
            overflow: hidden;
            background: #f1f3f5;
            font-size: 11px;
            color: #868e96;
            .light();
            small {
                font-size: 11px;
            }
        }
        &::before {
            .set-icon(7px, 4px, 'common/tab_arrow');
            content: '';
            display: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-bottom: -6px;
        }
    }
    li {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        box-sizing: content-box;
        &.in {
            a {
                border-color: @primary;
                &::before {
                    display: block;
                }
                strong, em {
                    color: @primary;
                }
            }
        }
    }
}

// 페이지 본문에 있을때
.container .section-member {
    text-align: center;
    .module {
        margin: 60px auto 0;
        max-width: 340px;
        text-align: left;
    }
}

.md-modal.is-coupon {
    .wrap {
        min-width: 544px;
    }
    .modal-tab-wrap a {
        font-size: 18px;
    }
    .checks {
        margin: 60px auto 30px;
        text-align: center;
        label {
            margin-right: 20px;
            font-size: 16px;
            color: #495057;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    .grid {
        margin-top: 30px;
        margin-bottom: 40px;
        margin-left: -70px;
        margin-right: -70px;
        border-top: solid 1px #e3e3e3;
        border-bottom: solid 1px #e3e3e3;
    }
    .col {
        position: relative;
        background-color: #fafafa;
        border-left: solid 1px #e3e3e3;
        &::before {
            .set-icon(30px, 30px, 'common/pop_minus');
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: solid 1px #e3e3e3;
            border-radius: 30px;
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: -17px;
            margin-top: -16px;
        }
        &.nth-child-1 {
            border-left: 0;
            &::before {
                display: none;
            }
        }
        &.nth-child-3 {
            &::before {
                .img('common/pop_equal');
            }
        }
        &.nth-child-3 {
            p.price {
                font-weight: bold;
            }
        }
    }
    .module {
        padding: 20px 0;
        p {
            margin: 5px 0;
            padding: 0;
            text-align: center;
            &.name {
                color: #8d8d8d;
                font-size: 16px;
            }
            &.price {
                span {
                    font-size: 30px;
                }
                small {
                    font-size: 18px;
                }
            }
        }
    }
    .action {
        text-align: center;
    }
}

.md-modal.is-cancel-class {
    .wrap {
        min-width: 544px;
    }
    p {
        margin: 5px 0;
        padding: 0;
        line-height: 1.4;
        &.subtitle {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: #4d5256;
        }
        &.title {
            margin-top: 0;
            font-size: 24px;
            font-weight: bold;
            color: #4c80f1;
        }
        &.end-date {
            margin: 10px auto;
            font-size: 20px;
            font-weight: bold;
            color: #4c80f1;
            text-align: center;
        }
        &.guide {
            margin: 20px auto 20px;
            text-align: center;
            color: #4d5256;
            line-height: 1.4;
        }
        &.agree {
            margin: 30px auto 20px;
            text-align: center;
            font-weight: bold;
            label {
                color: #121212;
                font-size: 16px;
            }
        }
    }
    ul.list-a {
        li {
            font-size: 15px;
            line-height: 1.4;
        }
    }

    .tab-wrap {
        border-top: solid 2px #e1e4e6;
        text-align: center;
        margin-top: 20px;
        padding-top: 25px;
        .tab {
            margin: 0 auto;
            display: inline-block;
            li {
                width: auto;
                &:nth-child(2) {
                    padding: 0 20px;
                }
            }
            label {
                color: #121212;
                font-size: 16px;
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }

    .action {
        text-align: center;
        .button {
            min-width: 200px;
        }
    }

}

.md-modal.is-extend-class {
    .wrap {
        min-width: 544px;
    }
    p {
        margin: 5px 0;
        padding: 0;
        line-height: 1.4;
        &.subtitle {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: #4d5256;
        }
        &.title {
            margin-top: 0;
            font-size: 24px;
            font-weight: bold;
            color: #4c80f1;
        }
    }
    .forms {
        border-top: solid 2px #e1e4e6;
        text-align: center;
        margin-top: 20px;
        padding-top: 25px;
        text-align: left;
    }
    .points {
        width: 160px;
        p {
            margin: 0;
            padding: 0;
            line-height: 1.2;
            &.subject {
                padding-left: 5px;
                color: #a0a0a0;
                font-size: 18px;
            }
            &.point {
                font-size: 18px;
                color: #383838;
                strong {
                    font-size: 30px;
                }
            }
        }
    }
    .detail {
        width: 447px;
        .grid {
            &.nth-child-1 {
                font-size: 15px;
                color: #686868;
                p {
                    margin: 5px 0;
                    padding: 0;
                    small {
                        font-size: 14px;
                    }
                }
            }
            &.nth-child-2 {
                margin-top: 5px;
                padding-top: 10px;
                padding-bottom: 20px;
                border-top: solid 1px #505050;
                p {
                    margin: 5px 0;
                    padding: 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: #4d5256;
                }
            }
        }
        .action {
            .button {
                span {
                    min-width: 200px;
                }
            }
        }
    }
}
